In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

1. Create a numpy array of shape (3,3) filled with integers from 1 to 9 using arange().

In [5]:
arr = np.arange(1, 10).reshape(3, 3)
print(arr)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

2. Provided pandas DataFrame df:
Replace non-numeric values in column “A” with the mean of numeric values. Plot a histogram of the “A” column using matplotlib.

In [6]:
df = pd.DataFrame({'A': [1, 'apple', 3, 4, 'banana'], 'B': [5, 6, 7, 8, 9]})